body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 8px 16px;
  font-size: 32px;
  font-weight: 700;

}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 300px;
}

.container {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 32px;
}

.main {
  display: flex;
}

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}